@import 'https://cdnjs.cloudflare.com/ajax/libs/hover.css/2.3.1/css/hover-min.css';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  /*background: #eeeeec;*/
  background-color: #17182f;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Open Sans", sans-serif;
  font-size: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.customSlider {
  opacity: 0;
  display: none;
}
.customSlider + label {
  position: relative;
  top: 35px;
  left: 15px;
  cursor: pointer;
}
.customSlider + label:before, .customSlider + label:after {
  background: #FFFFFF;
  position: absolute;
  content: "";
}
.customSlider + label:before {
  top: -90px;
  left: -60px;
  width: 80px;
  height: 40px;
  background: #ccc;
  border-radius: 20px;
  transition: background 0.75s;
}
.customSlider + label:after {
  height: 34px;
  width: 34px;
  top: -87px;
  left: -55px;
  border-radius: 50%;
  transition: all 0.5s;
}
.customSlider:checked + label:after {
  height: 34px;
  width: 34px;
  top: -87px;
  left: -19px;
  border-radius: 50%;
}
.customSlider:checked ~ .wrapper {
  color: #fff;
  transition: background 0.6s ease;
  background: #31394D;
}
.customSlider:checked ~ .wrapper .top-icons i {
  color: #fff;
}
.customSlider:checked ~ .wrapper .profile .name {
  color: #FDFEFF;
}
.customSlider:checked ~ .wrapper .profile .title {
  color: #7C8097;
}
.customSlider:checked ~ .wrapper .profile .description {
  color: #FDFEFF;
}
.customSlider:checked ~ .wrapper .icon h4 {
  color: #FFFFFF;
}
.customSlider:checked ~ .wrapper .icon p {
  color: #666B7D;
}

.wrapper {
  width: 320px;
  height: 540px;
  background: #FDFEFF;
  transition: background 0.6s ease;
  border-radius: 10px;
  padding: 20px 20px 20px 20px;
  box-shadow: 0 8px 40px rgba(0, 0, 0, 0.2);
}
.wrapper .top-icons i {
  color: #080911;
}
.wrapper .top-icons i:nth-of-type(1) {
  float: left;
}
.wrapper .top-icons i:nth-of-type(2) {
  float: right;
}
.wrapper .top-icons i:nth-of-type(3) {
  float: right;
  padding-right: 0.8em;
}
.wrapper .profile {
  margin-top: 2.2em;
  position: relative;
}
.wrapper .profile:after {
  width: 100%;
  height: 1px;
  content: " ";
  display: block;
  margin-top: 1.3em;
  background: #E9EFF6;
}
.wrapper .profile .check {
  position: relative;
  display: inline-block;
  bottom: 3px;
}
.wrapper .profile .check i {
  color: #fff;
  width: 16px;
  height: 16px;
  font-size: 8px;
  line-height: 16px;
  text-align: center;
  border-radius: 100%;
  background: linear-gradient(to bottom right, #1877f2, #2d88ff);
  padding-top: 0.5px;
}
.wrapper .profile .thumbnail {
  width: 124px;
  height: 124px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1em;
  border-radius: 100%;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.wrapper .profile .name {
  color: #2D354A;
  font-size: 24px;
  font-weight: 600;
  text-align: center;
}
.wrapper .profile .title {
  color: #7C8097;
  font-size: 0.75em;
  font-weight: 300;
  text-align: center;
  padding-top: 0.5em;
  padding-bottom: 0.7em;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}
.wrapper .profile .description {
  color: #080911;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 1.3em;
}
.wrapper .profile .btn {
  color: #fff;
  width: 130px;
  height: 42px;
  outline: none;
  border: none;
  display: block;
  cursor: pointer;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  border-radius: 70px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.16);
  background: linear-gradient(to bottom right, #C90A6D, #FF48A0);
}

.social-icons {
  display: flex;
  margin-top: 1.2em;
  justify-content: center;
  flex-wrap: wrap;
}
.social-icons .icon {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10px;
}
.social-icons .icon a {
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  border-radius: 30px;
  box-shadow: 0 13px 26px rgba(0, 0, 0, 0.2), 0 3px 6px rgba(0, 0, 0, 0.2);
}
.social-icons .icon:nth-of-type(1) a {
  background: #464646;
}
.social-icons .icon:nth-of-type(2) a {
  background: #333;
}
.social-icons .icon:nth-of-type(3) a {
  background: #3b5998;
}
.social-icons .icon:nth-of-type(4) a {
  background: #1da1f2;
}
.social-icons .icon:nth-of-type(5) a {
  background: linear-gradient(45deg, #405de6 10%, #5851db 20%, #833ab4 30%, #c13584 40%, #e1306c 50%, #fd1d1d 60%, #f56040 70%, #fcaf45 80%, #ffdc80 90%);
}
.social-icons .icon:nth-of-type(6) a {
  background: #0077b5;
}
.social-icons .icon:nth-of-type(7) a {
  background: #ff0000;
}
.social-icons .icon:nth-of-type(8) a {
  background: #e60023;
}
.social-icons .icon:nth-of-type(9) a {
  background: #1769ff;
}
.social-icons .icon:nth-of-type(10) a {
  background: #00aff0;
}
.social-icons .icon:nth-of-type(11) a {
  background: #fffc00;
}
.social-icons .icon:nth-of-type(12) a {
  background: #0088cc;
}
.social-icons .icon h4 {
  color: #080911;
  font-size: 1em;
  margin-top: 1.3em;
  margin-bottom: 0.2em;
}
.social-icons .icon p {
  color: #666B7D;
  font-size: 12px;
}

.concept {
  position: relative;
  bottom: 0px;
  color: #AAB0C4;
  font-size: 0.7em;
  font-weight: 400;
}
.concept a {
  color: #ac1966;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
